{% extends 'main/base.html' %}

{% block styles %}
  <style type="text/css">
    #login-form {
      width: 260px;
    }
    #login-form .mdl-textfield {
      margin-bottom: 10px;
    }
    #login-form .mdl-button {
      margin-bottom: 20px;
    }
    .block {
      display: block;
    }
    .full-width {
      width: 100%;
    }
    .center-self {
      margin: 0 auto;
    }
    .center-content {
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
  <h3 class="center-content">로그인</h3>

  <form method="post" class="center-self" id="login-form">
    {{ login_form.csrf_token }}
    {{ mdl_textfield(login_form.user_id) }}
    {{ mdl_textfield(login_form.user_pw) }}
    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent block full-width">로그인</button>
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised block" href="{{ url_for('accounts.register') }}">등록</a>
  </form>
{% endblock %}