<!DOCTYPE html>
<html>
<head>
  <title>로그인</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.pink-amber.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="style.css">
</head>
<body>

{% extends 'main/base.html' %}

{% block body %}

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
          </div>
        </div>
      </div>
    </header>

    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">wapple</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>


    <div class="mdl-grid center-div" id="login-title">
      <div>
        <span>
          <h3>로그인</h3>
        </span>
      </div>
    </div>

    <div class="center-self">
      <form method="post" id="login-form">
        {{ login_form.csrf_token }}
        <div class="mdl-textfield mdl-js-textfield full-width">
          {# <input class="mdl-textfield__input" type="text" id="id">
          <label class="mdl-textfield__label" for="id">ID</label> #}
          {{ form_field(login_form.user_id) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield full-width">
          {# <input class="mdl-textfield__input" type="text" id="password">
          <label class="mdl-textfield__label" for="password">PW</label> #}
          {{ form_field(login_form.user_pw) }}
        </div>

        <div class="center-content margin-top-button">
          <button class="mdl-button mdl-js-button mdl-button--raised">Sign-up</button>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Log-in</button>
        </div>

      </form>
    </div>
  </div>

{% endblock %}

</body>
</html>