{% extends 'main/base.html' %}

{% block styles %}
  <link rel="stylesheet" href="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.css">
  <script defer src="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.js"></script>

  <style type="text/css">
    #register-form {
      width: 260px;
    }
    #register-form .mdl-textfield {
      margin-bottom: 10px;
    }
    #register-form .mdl-button {
      margin-bottom: 20px;
    }
    .block {
      display: block;
    }
    .full-width {
      width: 100%;
    }
    .center-self {
      margin: 0 auto;
    }
    .center-content {
      text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
  <h3 class="center-content">등록</h3>

  <form method="post" class="center-self" id="register-form">
    {{ register_form.csrf_token }}
    {{ mdl_textfield(register_form.user_id) }}
    {{ mdl_textfield(register_form.user_name) }}
    {{ mdl_textfield(register_form.user_pw) }}
    {{ mdl_textfield(register_form.user_pw_confirm) }}
    {{ mdl_textfield(register_form.user_type) }}
    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent block full-width">등록</button>
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised block" href="{{ url_for('accounts.login') }}">로그인</a>
  </form>
{% endblock %}